<div class="container">

	<div class="row">
		<div class="col-xs-12 clearfix">
			<button class="btn btn-primary pull-right"
			(click)="changeBasicProfile()">Save Form</button>
			
		</div>
	</div>
	<br><br>


	<div class="row">
		<div class="panel panel-primary" id="avatarContainer">
			<div class="col-xs-12  panel-heading">
				<h3 class="text-center panel-title">Avatar</h3>	
			</div>
			<br><br>
			<div class="panel-body">

				<div class="col-xs-12 col-md-4 thumbnail" id="avatarImg" *ngIf="!showProgressBar">
					<img src={{avatar}} id="profilePic">
				</div>

				<!-- BEFORE UPLOAD AVATAR -->
				<div class="col-xs-12 col-md-8" id="uploadContainer" *ngIf="!showProgressBar">
					<br><br>
					<div class="form-group">
						<label>Change you Avatar</label>
						<input type="file" ng2FileSelect [uploader]="uploader" 
							class="form-control" id="inputfile"/>
					</div>
					<div>
						<ul *ngFor="let file of uploader.queue" id="fileList">
		    			<li>{{file.file.name}}&nbsp;&nbsp;  
								<span (click)="deleteFromList(file.file.name)">
									<strong id="x">X</strong>
								</span>
							</li>
		    		</ul>
					</div>
					<button class="btn btn-primary pull-right" id="editProfileBtn"
          (click)="editAvatar()">Edit Avatar</button>
				</div>
				<!-- DURING UPLOAD AVATAR -->
				<div *ngIf="showProgressBar">
					<div class="progress">
			      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100" 
			      style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
			       {{progress}}%
			      </div> 
			    </div>
					<button *ngIf="progress === 100" class="btn btn-primary" (click)="changeBasicProfile()">Head Home</button>
		    </div>
		
			</div>	<!-- panel body	 -->
		</div>
	</div> <!-- avatar row -->

	<div class="row">
		<div class="panel panel-primary" id="profileInfo">
			<div class="col-xs-12  panel-heading">
				<h3 class="text-center panel-title">Basic Information</h3>	
			</div>
			<div class="panel-body">
				<form>
					<br><br>

					<!-- <div class="form-group">
						<label>Decide what you want to share</label>
						<select class="form-control">
							<option *ngFor="let option of socialOptions"
							[value]="'opition'"
							>
								{{option}}
							</option>
						</select>
					</div> -->
				
				
				  <div class="form-group">
						<label>Email</label>
						<input type="text" name="email" 
						class="form-control" [(ngModel)]="email">
					</div>
					<div class="form-group">
						<label>Facebook</label>
						<input type="text" name="facebook" 
						class="form-control" [(ngModel)]="facebook">
					</div>
				</form>
			</div>		
		</div>
	</div> <!-- profileInfo row -->

	<div class="row">
		<div class="panel panel-primary">
	    <div class="col-xs-12 panel-heading">
	      <h1 class="text-center panel-title">My Story</h1>
	    </div>
	    <div class="panel-body">
	    	<br><br>
	    	<form>
		    	<div class="form-group">
			    	<label>Tell us about yourself</label>
			    	<textarea class="form-control" id="storyText" name="story" 
			    	class="form-control" [(ngModel)]="story"></textarea>
			    </div>
	    	</form> 
	  	</div>
  	</div>
	</div> <!-- story row -->
	<br>

	<div class="row">
		<div class="col-xs-12 clearfix">
			<button  class="btn btn-primary pull-right"
			(click)="changeBasicProfile()">Save Form</button>
		</div>
	</div>
	<br><br> 

</div><!--  container -->




 

  


