<div class="container">

	<div class="row">
		<div class="col-xs-12 clearfix">
			<button *ngIf="!profile" class="btn btn-primary pull-right">Save Form</button>
			<button *ngIf="profile" class="btn btn-primary pull-right">Edit Form</button>
		</div>
	</div>
	<br><br>


	<div class="row">
		<div class="panel panel-primary" id="avatarContainer">
			<div class="col-xs-12  panel-heading">
				<h3 class="text-center panel-title">Avatar</h3>	
			</div>
			<br><br>
			<div class="panel-body">

				<div class="col-xs-12 col-md-4 thumbnail">
					<img src={{photo}} id="profilePic">
				</div>

				<div class="col-xs-12 col-md-8" id="uploadContainer">
					<div class="form-group">
						<label>Change you Avatar</label>
						<input type="file" ng2FileSelect [uploader]="uploader" 
							class="form-control" id="inputfile"/>
					</div>
					<div>
						<ul *ngFor="let file of uploader.queue" id="fileList">
		    			<li>{{file.file.name}}&nbsp;&nbsp;  
								<span (click)="deleteFromList(file.file.name)">
									<strong id="x">X</strong>
								</span>
							</li>
		    		</ul>
					</div>
				</div>
		
			</div>	<!-- panel body	 -->
		</div>
	</div> <!-- avatar row -->

	<div class="row">
		<div class="panel panel-primary" id="profileInfo">
			<div class="col-xs-12  panel-heading">
				<h3 class="text-center panel-title">Basic Information</h3>	
			</div>
			<div class="panel-body">
				<form>
				
				</form>
			</div>		
		</div>
	</div> <!-- profileInfo row -->

	<div class="row">
		<div class="panel panel-primary">
	    <div class="col-xs-12 panel-heading">
	      <h1 class="text-center panel-title">My Story</h1>
	    </div>
	    <div class="form-group">
	    	<label>Tell us about yourself</label>
	    	<textarea class="form-control" id="storyText"></textarea>
	    </div>
  	</div>
	</div> <!-- story row -->
	<br>

	<div class="row">
		<div class="col-xs-12 clearfix">
			<button *ngIf="!profile" class="btn btn-primary pull-right">Save Form</button>
			<button *ngIf="profile" class="btn btn-primary pull-right">Edit Form</button>
		</div>
	</div>
	<br><br> 

</div><!--  container -->




 

  


