#spacer {
	margin-top: 30px;
}
/*AVATAR ROW----------------------------------*/
#profilePic {
	width: 100%;
}
#avatarWrapper {
	background: url(../../../assets/sand.jpg) repeat;
}
#avatarImg {
	/*padding-right: 2%;*/

}

/*UPLOADER*/
#uploadContainer {
    position: relative;
    min-height: 200px; 
		background: white;
		border-radius: 2%;
		box-shadow: 5px 5px 15px;

}
#changeAvatar {
	background: white;
}

#x {
	color: red;
}

#inputfile {
	color:transparent;
	border: 0;	
	/*display: inline-block;*/
}

#uploadBtn { 
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/*INFO ROW-----------------------------------*/
#profileInfo {
	min-height: 200px;
}


/*STORY ROW-----------------------------------*/
#storyText {
	min-height: 300px;
}
form {
	padding: 2%;
}
textarea {
	padding: 2%;
}

@media (max-width: 700px) {
  #profilePic {
		max-height: 100%;
		width: 100%;
	}
}

