#profilePic {
	max-height: 200px;
}

#profileInfo {
    position: relative;
    height: 300px;
}

#editProfileBtn { 
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#profileStory {
    min-height: 300px;
}