<div class="container">

  <div class="row">
    <div class="col-xs-12 clearfix">
   
       <button class="btn btn-primary pull-right" id="editProfileBtn"
          (click)="editBasicProfile()">Edit Profile</button>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="panel panel-primary" id="profileInfo">
      <div class="col-xs-12  panel-heading">
        <h3 class="text-center panel-title">Basic Information</h3>  
      </div>
      <div class="panel-body">
        <br><br>

        <div class="col-xs-12 col-md-3 thumbnail" *ngIf="profileStory">
          <img class="img-responsive" src={{profileStory.avatar}} id="profilePic">
        </div>
     <!--    <div class="col-xs-12 col-md-3 thumbnail" >
          <img class="img-responsive" src={{photo}} id="profilePic">
        </div> -->

        <div class="col-xs-1"></div>

        <div class="col-xs-12 col-md-8" >
          <div id="profileInfo">
          
              <h3>{{name}}</h3> 
              
              <h3 *ngIf="!profileStory">Enter you contact information here</h3>
              
              <ul class="list-group" *ngIf="profileStory">  
                <li *ngIf="profileStory"
                class="list-group-item">
                Email: {{profileStory.email}}</li>
                <li *ngIf="profileStory"
                class="list-group-item">
                Facebook: {{profileStory.facebook}}</li>
              </ul>

          </div>
        </div>
      </div>    
    </div>
  </div> <!-- profileInfo row -->

<!--   <div class="row well">
    <div class="col-xs-12 col-md-3 thumbnail">
      <img class="img-responsive" src={{photo}} id="profilePic">
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-12 col-md-8" >
        <div class="row panel panel-primary" id="profileInfo">
          <div class="panel-heading">
            <h3 class="text-center panel-title">{{name}}</h3> 
          </div>
          <div class="panel-body">
            <h3 *ngIf="!profileStory">Enter you contact information here</h3>
          </div>
         
        </div>
    </div>
  </div> -->

  <div class="row panel panel-primary">
    <div class="col-xs-12 panel-heading">
      <h1 class="text-center panel-title">My Story</h1>
    </div>
    <div *ngIf="profileStory" class="panel-body" id="profileStory">
      <br><br>  
      <div class="container"> 
        <p>{{profileStory.story}}</p>  
      </div>
    </div>
    <div *ngIf="!profileStory" class="panel-body" id="profileStory">
      <br><br>
      <h3>Tell us your story!</h3>
    </div>
  </div>
</div>