#panelBody {
	background: url(../../../assets/sand.jpg) repeat; 

}

#profilePic {
	width: 100%;
}

#userName {
	font-size: 2.3em;
	font-weight: bolder;
}

#profileInfo {
  min-height: 300px;
}

#profileStory {
  min-height: 300px; 
}

@media (max-width: 700px) {
  #profilePic {
		max-height: 100%;
		width: 100%;
	}
}

