<div class="well col-md-10 col-md-offset-1">
	<div class="col-md-12 clearfix">
		<div class="col-md-7" *ngIf="showFilterOrMsg">
			<h1>Dashboard</h1>
		</div>
		<div class="col-md-4" *ngIf="!showFilterOrMsg">
			<h1>Dashboard</h1>
		</div>
		<div class="col-md-5">
			<div class="form-group" *ngIf="showFilterOrMsg">
				<label>Filter Places</label>
				<input  type="text" class="form-control"
					[(ngModel)]="fTitle">
			</div>
		</div>
		<div class="col-md-8 pull-right" *ngIf="!showFilterOrMsg">
				<div class="alert alert-info text-center">
				  <h3><strong>Click the + Icon to start adding some stories!</strong></h3>
				</div>
		</div>
	</div>
	
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let story of (stories | filterTitle:fTitle)" 
		
		class="well col-md-12" id="storyContainer">
			<div class="col-md-9">
				<div class="col-md-5">
					<h2>{{story.title}}</h2>
					
				</div>
				<div class="col-md-7" id="selectDistance">
					<form #f="ngForm" (ngSubmit)="findFriends(f, story.lat, story.lng )" class="form-inline pull-right">
						<div class="form-group">
							<label id="label">Select Distance</label>
							 <select class="form-control" name="distance" ngModel  required>
						    <option *ngFor="let d of distances" [value]="d">{{d}}</option>
						  </select>
							<label class="radio-inline">
							  <input type="radio" name="measurement" value="miles" ngModel required> Miles
							</label>
							<label class="radio-inline">
							  <input type="radio" name="measurement" value="km" ngModel required> KM
							</label>
							<button id="submit" class="btn btn-primary"
							data-toggle="modal" data-target="#myModal"
							[disabled]="!f.valid">Find Friends</button>
						</div>
						
					</form>

				</div>
				<hr>
				<div class="col-md-12 clearfix" id="storyDescription">
					<p>{{story.description | filterText:fText}}</p>
					
				</div>
			</div>
			
			<div class="col-md-3">
				<sebm-google-map class="pull-right"
					[latitude]="story.lat"
					[longitude]="story.lng"
					[zoom]="4">
					<sebm-google-map-marker 
						[latitude]="story.lat"
						[longitude]="story.lng">
					</sebm-google-map-marker>
				</sebm-google-map>
				<button id="viewStoryBtn" 
				class="btn-block btn btn-primary pull-right"
				(click)="viewStory()">View your Story</button>
			</div>
		</li>
	</ul>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Friend</h4>
      </div>
      <div class="modal-body">
      	<div *ngIf="closeFriends.length === 0">
      		<div class="alert alert-info" role="alert">
      			Sorry no one has mapped a location that close. Try to increase the distance of your search!
      		</div>
      	</div>
        <ul class="list-group">
        	<li class="list-group-item"
        	*ngFor="let friend of closeFriends">
        		<h5>{{friend.uid}}</h5>
        		<ul class="list-group">	
        		
	        		<li *ngFor="let f of friend.friends">
	      				<a [routerLink]="['/add-friend', {id: f.uid}]"
	      				data-dismiss="modal">{{f.title}}
	      				</a>
	        		</li>
        		</ul>
        	
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeFriends()">Close</button>
      <!--   <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

