li {
	list-style: none;
}
#storyContainer {
	background: white;
}

#selectDistance {
	padding: 2% 0 0 0;
}

#label, #select {
	margin-right: 5px;
}

#button {
	margin-left: 8px;
}

sebm-google-map {
	height: 200px;
	width: 100%;
	z-index: 1;

	/*float: right;*/
}

#viewStoryBtn {
	/*margin-top: 2%;*/
	margin: 0;

}

#storyDescription {
	margin-top: 2%;
}

#friendImg {
	width: 50px;
	height: 50px;
}

