<div class="well col-md-10 col-md-offset-1">
	<h1>Dashboard</h1>
	<ul class="list-group">
		<li class="list-group-item" *ngFor="let story of stories" 
		class="well col-md-12" id="storyContainer">
			<div class="col-md-9">
				<div class="col-md-5">
					<h2>{{story.title}}</h2>
					
				</div>
				<div class="col-md-7" id="selectDistance">
					<form #f="ngForm" (ngSubmit)="findFriends(f, story.lat, story.lng )" class="form-inline">
						<div class="form-group">
							<label id="label">Select Distance</label>
							 <select class="form-control" name="distance" ngModel  required>
						    <option *ngFor="let d of distances" [value]="d">{{d}}</option>
						  </select>
							<label class="radio-inline">
							  <input type="radio" name="measurment" value="miles" ngModel required> Miles
							</label>
							<label class="radio-inline">
							  <input type="radio" name="measurment" value="km" ngModel required> KM
							</label>
						</div>
					<!-- 		<input type="hidden" [(ngModel)]="story.lat" 
							name="lat">
							<input type="hidden"  [(ngModel)]="story.lng"
							name="lng"> -->
						<button id="submit" class="btn btn-primary"
							[disabled]="!f.valid">Find Friends</button>
					</form>

				</div>
				<hr>
				<div class="col-md-9" id="storyDescription">
					<p>{{story.description}}</p>
				</div>
			</div>
			
			<div class="col-md-3">
				<sebm-google-map class="pull-right"
					[latitude]="story.lat"
					[longitude]="story.lng"
					[zoom]="4">
					<sebm-google-map-marker 
						[latitude]="story.lat"
						[longitude]="story.lng">
					</sebm-google-map-marker>
				</sebm-google-map>
			</div>
		</li>
	</ul>
</div>

