
li {
	list-style: none;
}

#storiesContainer {
	background: url(../../../assets/sand.jpg) repeat; 
}



.list-group-item {
   margin-bottom: 5%;
   padding: 3% 3% 
}

#storyDescription {
	margin-top: 2%;
}

/*FIND FRIEND FORM--------------------------*/
#selectDistance {
	padding: 2% 0 0 0;
}

#label, #select {
	margin-right: 15px;
}

#radio {
	margin-right: 20px;
}

#findFriendsBtn {
	/*margin-left: 25px;*/
}

/*MAP--------------------------------------*/
sebm-google-map {
	height: 200px;
	width: 100%;
	z-index: 1;
	display: block;
	margin: 0 auto;
}

#viewStoryBtn {
	display: block;
	margin: 0 auto;
	width: 100%;
}

/*MODAL-------------------------------------*/
#friendImg {
	width: 50px;
	height: 50px;
}



