<!-- NO STORIES -->
<div class="col-xs-10 col-xs-offset-1" *ngIf="!showFilter">
	<!-- FRIEND REQUEST -->
	<div class="col-xs-12">
		<a href="#" 
		data-toggle="modal" data-target="#friendsRequestModal"
		*ngIf="recievedReq.length > 0"
		>
			{{singularOrPlural}}
			<span class="badge">{{recievedReq.length}}</span>
		</a>
	</div>
	<br>
	<div>
		<h1>Dashboard</h1>
		<!-- LOADING SHOW SPINNER -->
		<fa name="spinner" animation="pulse" 
		size="3x" *ngIf="spinner"></fa>
	</div>
	<br><br>
	<!-- SHOW MESSAGE  -->
	<div class="alert alert-info text-center"
	 *ngIf="showMsg">
	  <h3>
	  	<strong>Click the + MAP IT to start adding some stories!
	  	</strong>
	  </h3>
	</div>
</div>

<!-- HAVE STORIES -->
<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1" *ngIf="showFilter" >
	<div class="row">
		<!-- FRIEND REQUEST -->
		<div class="col-xs-12">
			<a href="#" 
			data-toggle="modal" data-target="#friendsRequestModal"
			*ngIf="recievedReq.length > 0"
			>
				{{singularOrPlural}}
				<span class="badge">{{recievedReq.length}}</span>
			</a>
		</div>

		<div class="col-xs-12 col-sm-4">
			<h1>Dashboard</h1>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="form-group" *ngIf="showFilter">
				<label>Filter Places</label>
				<input  type="text" class="form-control"
					[(ngModel)]="fTitle">
			</div>
		</div>
	</div><!-- HEADING ROW -->

	

	<!-- STORIES -->
	<div class="row well"> 
		<ul class="list-group">
			<li class="list-group-item col-xs-12" *ngFor="let story of (stories | filterTitle:fTitle)" 		
			 id="storyContainer"
			>	
				<div class="row">
					<div class="col-xs-12 col-md-8"> <!-- title description form CONTAINER -->
						<h2>{{story.title}}</h2>
						<p>{{story.description | filterText:fText}}</p>
					
						<!-- SEARCH FOR FREINDS FORM -->
						<div id="selectDistance">
							<form #f="ngForm" (ngSubmit)="findFriends(f, story.lat, story.lng )" class="form-inline ">
								<div class="form-group">
									<label id="label">Select Distance</label>
									 <select class="form-control" name="distance" ngModel required>
								    <option *ngFor="let d of distances" [value]="d">{{d}}</option>
								  </select>
								  <div class="form-group">
								  	<label class="radio-inline">
										  <input type="radio" name="measurement" value="miles" ngModel required> Miles
										</label>
										<label class="radio-inline">
										  <input type="radio" name="measurement" value="km" ngModel required> KM
										</label>
								  </div>
									
									<button id="findFriendsBtn" class="btn btn-primary"
									data-toggle="modal" data-target="#myModal"
									[disabled]="!f.valid">Find Friends</button>
								</div>			
							</form>
							<div class="hidden-md hidden-lg hidden-md">
								<br><br>
							</div>
						</div>
						
					</div> <!-- title description form CONTAINER -->

					<div class="col-xs-12 col-md-4">
						<sebm-google-map 
							[latitude]="story.lat"
							[longitude]="story.lng"
							[zoom]="4">
							<sebm-google-map-marker 
								[latitude]="story.lat"
								[longitude]="story.lng">
							</sebm-google-map-marker>
						</sebm-google-map>
						<button id="viewStoryBtn" 
						class="btn btn-primary "
						(click)="viewStory(story.$key)">View your Story</button>
					</div>
				</div>  <!-- row -->
			</li>
		</ul>
	</div>
</div>



<!-- Modal Find Friends -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Friends</h4>
      </div>
      <div class="modal-body">
      	<div *ngIf="closeFriends.length === 0">
      		<div class="alert alert-info" role="alert">
      			Sorry no one has mapped a location that close. Try to increase the distance of your search!
      		</div>
      	</div>
        <ul class="list-group">
        	<li class="list-group-item"
        	*ngFor="let friend of closeFriends">
        		<a [routerLink]="['/add-friend', {id: friend.uid}]"
        			data-dismiss="modal">
        			<h4>{{friend.friends[0].name}}</h4>
        		</a>
        		<hr>
       	
        		<ul class="list-group">	 		
	        		<li *ngFor="let f of friend.friends">
	      				{{f.title}}
	        		</li>
        		</ul>	
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeFriends()">Close</button>
      <!--   <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Friends Request -->
<!-- <div class="modal fade" id="friendsRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">You have {{recievedReq.length}} {{singularOrPlural}}</h4>
      </div>
      <div class="modal-body">
      	
        <ul class="list-group">
        	<li class="list-group-item clearfix"
        	*ngFor="let friend of recievedReq">
        		<div class="pull-left">
        			<h4>Check out {{friend.name}}'s stories</h4>
        			<button data-dismiss="modal"  class="btn btn-primary" 
        			(click)="viewFriendsStories(friend)" 
        			>Go!</button>
        		</div>
        		<img src={{friend.photo}} class="pull-right"
        		id="friendImg">
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> -->


<!-- ------------------------------------------------------------ -->

<div class="well col-md-10 col-md-offset-1">
	<div class="col-md-12">
		<!-- LOADING SHOW SPINNER -->
		<div *ngIf="spinner">
			<section>
				<h1>Dashboard</h1>
    		<fa name="spinner" animation="pulse" size="3x"></fa>
			</section>
		</div>	
		<!-- SHOW MESSAGE  -->
		<div class="col-md-4" *ngIf="showMsg">
			<h1>Dashboard</h1>
		</div>
		<div class="col-md-8 pull-right" *ngIf="showMsg">
				<div class="alert alert-info text-center">
				  <h3><strong>Click the + MAP IT to start adding some stories!</strong></h3>
				</div>
		</div>
		<!-- SHOW STORIES --> 
		<div class="col-xs-12 col-sm-7" *ngIf="showFilter">
			<a href="#" 
			data-toggle="modal" data-target="#friendsRequestModal"
			*ngIf="recievedReq.length > 0"
			>
				{{singularOrPlural}}
				<span class="badge">{{recievedReq.length}}</span>
			</a>
			<h1>Dashboard</h1>
		</div>
		<!-- FILTER FOR STORIES -->
		<div class="col-xs-12 col-sm-5">
			<div class="form-group" *ngIf="showFilter">
				<label>Filter Places</label>
				<input  type="text" class="form-control"
					[(ngModel)]="fTitle">
			</div>
		</div>
	</div> 
	<!-- HEADING OPTIONS -->

	<ul class="list-group">
		<li class="list-group-item" *ngFor="let story of (stories | filterTitle:fTitle)" 		
		class="well col-md-12" id="storyContainer"
		>
			<div class="col-md-9">

				<div class=" col-xs-12 col-lg-4">
					<h2>{{story.title}}</h2>
				</div>
				
				<div class="col-xs-12 col-lg-8" id="selectDistance">
					<form #f="ngForm" (ngSubmit)="findFriends(f, story.lat, story.lng )" class="form-inline ">
						<div class="form-group">
							<label id="label">Select Distance</label>
							 <select class="form-control" name="distance" ngModel  required>
						    <option *ngFor="let d of distances" [value]="d">{{d}}</option>
						  </select>
						  <div class="form-group">
						  	<label class="radio-inline">
								  <input type="radio" name="measurement" value="miles" ngModel required> Miles
								</label>
								<label class="radio-inline">
								  <input type="radio" name="measurement" value="km" ngModel required> KM
								</label>
						  </div>
							
							<button id="submit" class="btn btn-primary"
							data-toggle="modal" data-target="#myModal"
							[disabled]="!f.valid">Find Friends</button>
						</div>			
					</form>
				</div>
				<hr>
				<div class="col-md-12 clearfix" id="storyDescription">
					<p>{{story.description | filterText:fText}}</p>		
				</div>
			</div>
			
			<div class="col-xs-12 col-md-3">
				<sebm-google-map 
					[latitude]="story.lat"
					[longitude]="story.lng"
					[zoom]="4">
					<sebm-google-map-marker 
						[latitude]="story.lat"
						[longitude]="story.lng">
					</sebm-google-map-marker>
				</sebm-google-map>
				<button id="viewStoryBtn" 
				class="btn btn-primary "
				(click)="viewStory(story.$key)">View your Story</button>
			</div>
		</li>
	</ul>
</div>
	
		


<!-- Modal Find Friends -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Friends</h4>
      </div>
      <div class="modal-body">
      	<div *ngIf="closeFriends.length === 0">
      		<div class="alert alert-info" role="alert">
      			Sorry no one has mapped a location that close. Try to increase the distance of your search!
      		</div>
      	</div>
        <ul class="list-group">
        	<li class="list-group-item"
        	*ngFor="let friend of closeFriends">
        		<a [routerLink]="['/add-friend', {id: friend.uid}]"
        			data-dismiss="modal">
        			<h4>{{friend.friends[0].name}}</h4>
        		</a>
        		<hr>
       	
        		<ul class="list-group">	 		
	        		<li *ngFor="let f of friend.friends">
	      				{{f.title}}
	        		</li>
        		</ul>	
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeFriends()">Close</button>
      <!--   <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Friends Request -->
<div class="modal fade" id="friendsRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">You have {{recievedReq.length}} {{singularOrPlural}}</h4>
      </div>
      <div class="modal-body">
      	
        <ul class="list-group">
        	<li class="list-group-item clearfix"
        	*ngFor="let friend of recievedReq">
        		<div class="pull-left">
        			<h4>Check out {{friend.name}}'s stories</h4>
        			<button data-dismiss="modal" 
        			(click)="viewFriendsStories(friend)" 
        			>Go!</button>
        		</div>
        		<img src={{friend.photo}} class="pull-right"
        		id="friendImg">
        	</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

