#spacer {
	margin-top: 30px;
}

#defaultImg {
	width: 100%;
	display: block;
}
/*md-lg screen*/
#goBackBtn {
	margin-right: 1%;
}
#imgContainer {
	position: relative;
	margin: 1% 0;
	height: 300px;
}

#img {
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:  cover;
    box-shadow: 10px 10px 10px #888888;
		border-radius: 1%;	
}

#viewImgBtn {
	position: absolute;
	right: 6%;
	bottom: 2%;
	display: none;
}

#imgContainer:hover #viewImgBtn { 
	display: block; 
}
/*xs-small screen*/

#imgXs {
	margin-top: 1%; 
	margin-bottom: 2%;
	box-shadow: 10px 10px 10px #888888;
	border-radius: 1%;
}

#viewImgBtnXs {
	position: absolute;
	right: 6%;
	bottom: 6%;
	display: none;
}

#imgContainerXs:hover #viewImgBtnXs { 
	display: block; 
}

#story {
	background: white;
	display: block;
	padding: 1%;
}



