#defaultImg {
	width: 100%;
	display: block;
}


#imgContainer {
	position: relative;
}
#viewImgBtn {
	position: absolute;
	right: 4%;
	bottom: 2%;
	display: none;
}

#viewImgBtnXs {
	position: absolute;
	right: 6%;
	bottom: 8%;
	display: none;
}

#imgContainer:hover #viewImgBtn { 
	display: block; 
}

#imgContainer:hover #viewImgBtnXs  { 
	display: block; 
}

