<div class="container-fluid">

	<!-- NO USER PHOTOS -->
	<div class="row" *ngIf="imgUrl.length <= 0">
		<div class="col-xs-12  
								col-sm-10 col-sm-offset-1">
						
			<div class="col-xs-12 col-sm-9">

				<h2 class="hidden-xs">A Story is not always just words</h2>
				<h3 class="hidden-sm hidden-md hidden-lg">A Story is not always just words</h3>
				<p>Edit your story and add some photos?</p>
			</div>
			<div class="col-xs-12 col-sm-3">
				<br>
				<button class="btn btn-primary" (click)="goBack()">Back</button>
				<button class="btn btn-primary" (click)="editStory()">Edit Story</button>

				<div>
					<br><br>
				</div>
			</div>
		</div>

		<div class="col-xs-12 
								col-sm-10 col-sm-offset-1 
								col-md-8 col-md-offset-2">
			<img src="../../../assets/map.png" id="defaultImg">
		</div>
	</div>

	<!-- HAVE PHOTOS -->
	<!-- md lg screen -->
	<div class="row" *ngIf="imgUrl.length > 0">
		<div class="col-xs-12">
			<button id="editStoryBtn" class="btn btn-primary pull-right" (click)="editStory()">Edit Story</button>
			<button id="goBackBtn" class="btn btn-primary pull-right" (click)="goBack()">Back</button>	
		</div>
	</div>
	<div class="row" id="imgRow"  *ngIf="imgUrl.length > 0">
		<div class="col-sm-4 hidden-xs" *ngFor="let img of imgUrl | slice:0:3" id="imgContainer">
			<img [src]="img.url"  id="img">			
			<button class="btn btn-primary" id="viewImgBtn"
			(click)="viewSingleImage(img)">View Image</button>
		</div>
	</div>
	<!-- xs sm screen -->	
	<div class="row" id="imgRow"  *ngIf="imgUrl.length > 0">
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg" *ngFor="let img of imgUrl | slice:0:3" id="imgContainerXs">
			<img [src]="img.url" id="imgXs" class="img-responsive">			
			<button class="btn btn-primary" id="viewImgBtnXs"
			(click)="viewSingleImage(img)">View Image</button>
		</div>
	</div>


	<div class="row container-fluid" *ngIf="imgUrl.length > 3">
		<div class="col-xs-12 alert alert-info" role="alert">
			<label style="margin-right: 2%">You have {{imgUrl.length - 3}} more {{singularPlural}}</label>
			<button class="btn btn-primary" (click)="morePhotos()">Check it out!</button>
		</div>
	</div>


	<div class="row col-xs-12 col-sm-10 col-sm-offset-1" *ngIf="story">
		<h1>{{story.title}}</h1>
		<h4>{{story.description}}</h4>
	</div>


</div> <!-- container-fluid -->

