<!-- NO FRIENDS -->
<div class="container" *ngIf="friendsProfile.length <= 0">
	<div class="alert alert-info">
  	<h3 class="text-center"><strong>You have no Friends!</strong>  Head back to the dashboard and go find some!.</h3>
	</div>
</div>
<!-- HAVE FRIENDS -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 well" *ngFor="let profile of friendsProfile">

			<div class="col-xs-12 col-sm-4">
				<img src={{profile.avatar}} min-height="400"
				class="img-responsive img-thumbnail" >	
			</div>
			<div class="col-md-1"></div>

			<div class="col-xs-12 col-sm-7">
				<h1>{{profile.name}}</h1>
				<button class="btn btn-primary pull-right"
				(click)="viewStories(profile.uid)">View Stories</button>
			</div>
			<hr>
			<div class="row container">
				<br><br>
				<h3>Get in Touch</h3>
				<ul class="list-group col-xs-12">
					<li class="list-group-item">
						{{profile.email}}
					</li>
					<li class="list-group-item">
						{{profile.facebook}}
					</li>
				</ul>
			</div>
			<div class="row col-xs-12">
				<p>{{profile.story}}</p>
			</div>
		</div>
	</div>
</div>
