<div id="spacer" class="col-xs-12"></div>

<!-- NO FRIENDS -->
<div class="container" *ngIf="friendsProfile.length <= 0">
	<div class="alert alert-info">
  	<h3 class="text-center"><strong>You have no Friends!</strong>  Head back to the dashboard and go find some!.</h3>
	</div>
</div>
<!-- HAVE FRIENDS -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 well" *ngFor="let profile of friendsProfile" id="friendsWrapper">
		
			<div class="row">

				<div class="col-xs-12 hidden-sm hidden-md hidden-lg" id="profileContainer">
					<h1>{{profile.name}}</h1>
					<button class="btn btn-primary" id="viewStoriesBtn" 
					(click)="viewStories(profile.uid)">View Stories</button>
				</div>

				<div class="col-xs-12 col-sm-4">
					<img src={{profile.avatar}} min-height="350"
					class="img-responsive img-thumbnail" >	
				</div>

				<div class="col-sm-1 hidden-xs"></div>

				<div class="col-sm-7 hidden-xs" id="profileContainer">
					<h1>{{profile.name}}</h1>
					<button class="btn btn-primary" id="viewStoriesBtn" 
					(click)="viewStories(profile.uid)">View Stories</button>
				</div>

			</div> <!-- row -->
		
			<div class="row container" id="userInfo">
				<div>
					<h3>Contact</h3>

					<ul class="list-group col-xs-12">
						<li class="list-group-item">
							{{profile.email}}
						</li>
						<li class="list-group-item">
							{{profile.facebook}}
						</li>
					</ul>
				</div>
				<div class="row col-xs-12" id="userStory">
					<p>{{profile.story}}</p>
				</div>
			</div>
		</div>	
	</div>
</div>
