<div class="contianer-fluid" id="imgWrapper">

	<div id="friendRequestContainer" *ngIf="!responding">
		<div class="alert alert-success clearfix" role="alert">
			<h5 class="pull-left">Send a friends request to be able to follow this read this user's stories</h5>
			<button class="btn btn-primary pull-right" (click)="onSendFriendRequest()">Send Friend Request</button>
		</div>
	</div>

	<div id="friendRequestContainer" *ngIf="responding">
		<div class="alert alert-success clearfix" role="alert">
			<h5 class="pull-left">Do you want a new friend?</h5>
			<button class="btn btn-primary pull-right" (click)="onRespondFriendRequest(true)">Make a new Friend</button>
			<button class="btn btn-danger pull-right" (click)="onRespondFriendRequest(false)">No, Thanks</button>
		</div>
	</div>
	<div id="imgWrapper" class="panel panel-default" *ngFor="let story of stories"
		class="col-xs-12 col-sm-4" id="storyCard">
	  <div class="panel-body storyPanel">
	  <sebm-google-map
				[latitude]="story.lat"
				[longitude]="story.lng"
				[zoom]="8">
				<sebm-google-map-marker
					[latitude]="story.lat"
					[longitude]="story.lng">
				</sebm-google-map-marker>
			</sebm-google-map>
	    <h2>{{story.title}}</h2>
	    <h5>{{story.description | filterText}}</h5>
	  </div>
	  
	</div>

</div>