
<div class="well col-md-10 col-md-offset-1">
	<div class="col-md-6" id="formMap">
		<sebm-google-map
			[latitude]="location.lat"
			[longitude]="location.lng"
			[zoom]="8"
			(mapClick)="onSetMarker($event)">
			<sebm-google-map-marker 
				[latitude]="marker.lat"
				[longitude]="marker.lng">
			</sebm-google-map-marker>
		</sebm-google-map>
	</div>
	<div class="col-md-5" id="formTitle">
		<h1>Tell us your Story</h1>
		<h3>Why is this place special to you?</h3>
	</div>

	<br>
	<div class="col-md-10 col-md-offset-1">
		<form [formGroup]="storyForm">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control"
				formControlName="title" maxlength="35">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" 
				formControlName="description"></textarea>
			</div>
			<!-- <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Upload a Photo</button> -->
			<button type="button" class="btn btn-primary"
			(click)="onAddStory()"
			[disabled]="!storyForm.valid"
			data-toggle="modal" data-target="#myModal"
			>
				Submit
			</button>
			<button type="submit" class="btn btn-danger"
			 (click)="onCancel()">Cancel</button>
		</form>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Friend</h4>
      </div>
      <div class="modal-body">

      	<div class="form-group">
      		<label>Upload a Photo</label>
      		<div ng2FileDrop  [uploader]="uploader">
						<input type="file" ng2FileSelect [uploader]="uploader" 
						class="form-control" multiple/>
					</div>
      	</div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="onCancel()">No Thanks</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
        (click)="onUploadPhoto()"
        [disabled]="!haveFile"

        >Upload a Photo?</button>
      <!--   <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

