#formMap {
	padding: 2%;
	margin-bottom: 4%;
}
#formTitle {
	height: 250px;
	padding: 4% 5%;
	margin-bottom: 4%;
}

#formTitleXs {
	height: 150px;
	padding-bottom: 2%;
}

sebm-google-map {
	height: 250px;
}

#fileInputLabel {

}
#inputfile {
	color:transparent;
	border: 0;	
}

