<div class="well col-md-10 col-md-offset-1" *ngIf="showProgressBar">
		<h2 class="text-center">Depending on the number of images you are uploading this may take a while</h2>
		<h4 class="text-center">Feel free to head back to the dashboard and check your photos once they are uploaded</h4>
		
		<hr>	

		<div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100" 
      style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
       {{progress}}%
      </div>
    </div>
		<button class="btn btn-primary" (click)="onCancel()">Head Home</button>

</div>
<div class="well col-md-10 col-md-offset-1" *ngIf="!showProgressBar">	
	<div class="col-md-6" id="formMap">
		<sebm-google-map
			[latitude]="location.lat"
			[longitude]="location.lng"
			[zoom]="8"
			(mapClick)="onSetMarker($event)">
			<sebm-google-map-marker 
				[latitude]="marker.lat"
				[longitude]="marker.lng">
			</sebm-google-map-marker>
		</sebm-google-map>
	</div>
	<div class="col-md-5" id="formTitle">
		<h1>Tell us your Story</h1>
		<h3>Why is this place special to you?</h3>
	</div>

	<br>
	<div class="col-md-10 col-md-offset-1">
		<form [formGroup]="storyForm">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control"
				formControlName="title" maxlength="35">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" 
				formControlName="description"></textarea>
			</div>
			<button type="button" class="btn btn-primary"
			(click)="onAddStory()"
			[disabled]="!storyForm.valid"
			data-toggle="modal" data-target="#myModal"
			>
				Submit
			</button>
			<button type="submit" class="btn btn-danger"
			 (click)="onCancel()">Cancel</button>
		</form>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Some Photos to your Story?</h4>

      </div>
      <div class="modal-body"> 

      	<div class="form-group">
     			<label for="files" id="fileInputLabel" title=" ">Select files</label>
					<input type="file" ng2FileSelect [uploader]="uploader" multiple 
							class="form-control" id="inputfile"/>
      	</div>
      	<div>

      		<ul *ngFor="let file of uploader.queue">
      			<li>{{file.file.name}}&nbsp;&nbsp;  
      			<!-- 	<button type="button" class="close" aria-label="Close"
      				(click)="deleteFromList(file.file.name)">
			  				<span aria-hidden="true" style="{color: red}">&times;</span>
							</button> -->
							<span (click)="deleteFromList(file.file.name)" style="{color: 'red'}">
								<strong>X</strong>
							</span>
					</li>
      		</ul>
      	</div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
        (click)="onCancel()">No Thanks</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
        (click)="onUploadPhoto()"
        [disabled]="uploader.queue.length < 1"
        >Upload a Photo?</button>
      </div>
    </div>
  </div>
</div>

